<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.spark.demo.androiddemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />






    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name=".MenuActivity"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".viewpager.ViewPagerDemoActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".pay.PayActivity"
                  android:screenOrientation="portrait"/>

        <activity
            android:name="com.spark.demo.thirdparty.zxing.activity.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>


        <activity android:name="com.spark.demo.thirdparty.shake.ShakeShowActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".dlg.DialogActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".share.ShareActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".PopWindowActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".wheelview.WheelViewDemoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".calender.CalenderActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>